<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first pt-5 pb-3">
      <img src="https://cdn3.iconfinder.com/data/icons/ui-super-basic-flat/32/login-512.png" id="icon"
        alt="User Icon" />
    </div>
    <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
      <input type="text" id="login" class="fadeIn second" name="email" ngModel placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" ngModel placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>

</div>
