<div class="card p-3 mb-2 shadow">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <div class="c-details">
        <h4 class="mb-0">{{product?.name}}</h4>
      </div>
    </div>
    <div class="badge"> <span>{{product?.category}}</span> </div>
  </div>
  <div class="mt-3">
    <h6>{{product?.description}}</h6>
    <div class="mt-3">
      <div class="mt-3"> <span class="text1">Precio: </span> <span class="text2">{{product?.price}} euros</span></div>
      <div> <span class="text1">Disponibilidad: <span class="text2"
            [ngClass]="{ 'green': product?.available === 1, 'red': product?.available === 0}">{{
            (product?.available === 1)? 'Hay
            stock' :
            'No disponible'}}</span></span>
      </div>
      <button class="mt-2 btn btn-sm btn-danger">Ver producto</button>
    </div>
  </div>
</div>
